{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PRAKHAR &nbsp; GUPTA</title>
    <link rel="icon" href="{% static 'images/logo-icon.png' %}">

    <script src="https://kit.fontawesome.com/c7b2fdad4d.js" crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    <link rel="icon" href="/Assets/img/15.jpg">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'icofont/icofont.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}"> -->
    <!-- <link rel="stylesheet" href="{% static 'aos/aos.css' %}"> -->
      <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css">

    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <!-- links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="preload" href="{% static 'images/fonts/Agustina.21f233e1.woff' %}" as="font" type="font/woff" crossorigin="">
    <script src="https://use.fontawesome.com/66c3c19309.js"></script>
    <script src="https://unpkg.com/ionicons@5.5.3/dist/ionicons.js"></script>
    <!-- links -->
</head>


<body data-aos-easing="ease" data-aos-duration="1500" data-aos-delay="0">
    <!-- <li><i class="uil uil-moon change-theme" id="theme-button"></i></li> -->
    <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>
    <header id="header" class="fixed-top ">
        <div class="container-fluid  navbur">

            <div class="navi">
                <div class="col-xl-9 d-flex align-items-center lefty">
                    <h1 class="logo mr-auto"><a href="#">Prakhar Gupta</a></h1>

                    <nav class="nav-menu d-none d-lg-block float-right">
                        <ul>
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#skills">Professional Experience</a></li>
                            <!-- <li><a href="#portfolio">Portfolio</a></li> -->
                            <li><a href="#work">Projects</a></li>

                            <li><a href="#contact">Contact</a></li>
                            <!-- <div class="invert pl-4 " id="theme-button">
                                <ion-icon name='contrast-outline' style="color:White"></ion-icon>
                            </div> -->
                            <!--  -->


                        </ul>

                    </nav>

                    <div class="changed mx-3"><i class="icofont-ui-brightness change-theme" id="theme-button"></i></div>



                </div>
            </div>

        </div>
    </header>

    <section class=" descript "  id="home">
        <div class="container ">

            <div class="small-container ">
                <div class="row">
                    <div class="col-md-6 initial-0 aos-init " data-aos="zoom-in" data-aos-delay="200">
                        <p id="hey">HEY THERE !</p>
                        {% for infor in info %}
                        <h1 id="name">I am <span>{{infor.name_complete}}</span> </h1>
                        <h3>Software & ML Engineer, Data Science Professional</h3>
                        <p> <span id="big"></span>{{infor.mini_about}}</p>

                        <div class="social">

                            <a href="{{infor.github}}"><i class="fa fa-github"></i>

                            </a>
                            <a href="{{infor.linkedin}}"><i class="fa-brands fa-linkedin" style="background: #4974c5"></i></a>
                        </div>
                        <div class="button">
                            <a href="mailto:{{infor.email}}"> <button class="main-button2">Contact me <i class="uil uil-message"style="" ></i>  </button></a>
                            <a class="main-button ml-2" href="{{infor.mycv}}" target="_blank" rel="noopener noreferrer"> <button id="btn2">My Resume <i class="uil uil-import"></i></i>
                            </button></a>

                        </div>

                    </div>
                    <div class="col-md-6 initial-1 aos-init" data-aos="zoom-in" data-aos-delay="300">
                        <img src="{{infor.avatar}}" alt="">
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>


    <section class="about its-me " id="about">
        <div class="container2">

            <div class="small-container2 ">
                <div class="row2 initial-3">
                    {% for aboutme in about %}
                    <div class="col-md-6 aos-init" data-aos="fade-up-right" data-aos-delay="700">
                        <img src="{{aboutme.about_avatar}}" alt="">
                    </div>
                    <div class="col-md-6 initial-4">
                        <div class="title aos-init" data-aos="zoom-in" data-aos-delay="200">
                            <h1>{{aboutme.title}}</h1>
                        </div>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">{{aboutme.description1}}</p>
                        <p data-aos="zoom-in" data-aos-delay="200" class="aos-init">{{aboutme.description2}}</p>
                        <div class="icons aos-init" data-aos="zoom-in" data-aos-delay="300">
                                                        <div>
                                <ion-icon name="logo-python" style="color: #38a4ec;font-size:35px"></ion-icon>
                                <p>Python</p>
                            </div>

                            <div> <i class="fa fa-database"></i>
                                <p>SQL</p>
                            </div>
                            <div> <span class="iconify" data-icon="logos:tensorflow" data-width="39" data-height="39"></span>
                                <p>Tensorflow</p>
                            </div>

                            <div> <i class="fab fa-r-project"></i>
                                <p>R</p>
                            </div>
                            <div>
                                <i class="fa-brands fa-java"></i>
                                <p>Java</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="vscode-icons:file-type-mongo" data-width="39" data-height="39"></span>
                                </i>
                                <p>MongoDB</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="devicon:pytorch" data-width="39" data-height="39"></span>
                                </i>
                                <p>PyTorch</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="skill-icons:docker" data-width="39" data-height="39"></span>
                                </i>
                                <p>Docker</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="noto-v1:hugging-face" data-width="39" data-height="39"></span>
                                </i>
                                <p>Hugging Face</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="devicon:opencv" data-width="39" data-height="39"></span>
                                </i>
                                <p>OpenCV</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="skill-icons:django" data-width="39" data-height="39"></span>
                                </i>
                                <p>Django</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="logos:javascript" data-width="39" data-height="39"></span>
                                </i>
                                <p>Javascript</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="logos:tableau-icon" data-width="39" data-height="39"></span>
                                </i>
                                <p>Tableau</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="devicon:scikitlearn" data-width="39" data-height="39"></span>
                                </i>
                                <p>Scikitlearn</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="logos:apache-spark" data-width="39" data-height="39"></span>
                                </i>
                                <p>Spark</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="skill-icons:gcp-light" data-width="39" data-height="39"></span>
                                </i>
                                <p>Google Cloud</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="skill-icons:aws-light" data-width="39" data-height="39"></span>
                                </i>
                                <p>AWS</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="skill-icons:flask-light" data-width="39" data-height="39"></span>
                                </i>
                                <p>Flask</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="devicon:plotly" data-width="39" data-height="39"></span>
                                </i>
                                <p>Plotly</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="devicon:matplotlib" data-width="39" data-height="39"></span>
                                </i>
                                <p>Matplotlib</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="logos:seaborn-icon" data-width="39" data-height="39"></span>
                                </i>
                                <p>Seaborn</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="logos:numpy" data-width="39" data-height="39"></span>
                                </i>
                                <p>NumPy</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="logos:pandas-icon" data-width="39" data-height="39"></span>
                                </i>
                                <p>Pandas</p>
                            </div>
                            <div>
                                <span class="iconify" data-icon="simple-icons:scipy" data-width="39" data-height="39"></span>
                                </i>
                                <p>SciPy</p>
                            </div>
                            <!-- <div class="django"> <img src="{% static 'images/django.png' %}" width="40" height="80">
                            </div> -->


                        </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>



        <!-- <article>
            <div class="container skills" id="skills">

                <div class="small-container">
                    <div class="row9">
                        <div class="col-md-10 initial-5">
                            <div class="title">
                                <h1 class="">SKILLS</h1>
                            </div>
                            <div class="all-bars">
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="100">
                                    <div class="bar-info">
                                        <p>Data Science</p>
                                        <h5>90%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="one"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="200">
                                    <div class="bar-info">
                                        <p>Machine learning</p>
                                        <h5>90%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="two"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="300">
                                    <div class="bar-info">
                                        <p>Statistics</p>
                                        <h5>80%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="three"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="400">
                                    <div class="bar-info">
                                        <p>Google Cloud Platform</p>
                                        <h5>70%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="four"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="500">
                                    <div class="bar-info">
                                        <p>Pandas</p>
                                        <h5>90%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="six"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="600">
                                    <div class="bar-info">
                                        <p>Django</p>
                                        <h5>85%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="seven"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="700">
                                    <div class="bar-info">
                                        <p>Numpy</p>
                                        <h5>90%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="five"></p>
                                    </div>
                                </div>
                                <div class="bars aos-init" data-aos="zoom-in" data-aos-delay="800">
                                    <div class="bar-info">
                                        <p>DataBricks</p>
                                        <h5>80%</h5>
                                    </div>
                                    <div class="bar">
                                        <p id="eight"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article> -->
        <article>
            <div class="container skills" id="skills">

                <div class="small-container">
                    <div class="row9">
                        <div class="col-md-10 initial-5">
                            <div class="title">
                                <h1 class="">PROFESSIONAL EXPERIENCE</h1>
                            </div>
                        </div>    
                    </div>  
                </div>
            </div>
        </div>                   

        <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-picture">
              </div>
              <div class="title">
            </div>
              <div class="cd-timeline-content" data-aos="zoom-in" data-aos-delay="100">
                <h2>Owl Autonomous Imaging</h2>
                <div class="timeline-content-info">
                  <span class="timeline-content-info-title">
                    <i class="fa fa-certificate" aria-hidden="true"></i>
                    Machine Learning & Artificial Intelligence Intern
                  </span>
                  <span class="timeline-content-info-date">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    January 2023 - August 2023
                  </span>
                </div>
                <p>
                    Optimized deep learning models, resulting in a 25% reduction in inference time using Model Quantization. Launched an animal detection system with YOLOv5 for Advanced Driving Assistance. Improved thermal image segmentation, achieving a 10% boost in Mean Average Precision (MAP) through Genetic Evolution and augmentation.</p>
                    <span class="cd-date">Jan 2023</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block" data-aos="zoom-in" data-aos-delay="150">
              <div class="cd-timeline-img cd-movie">
              </div> <!-- cd-timeline-img -->
        
              <div class="cd-timeline-content">
                <h2>Epsilon</h2>
                <div class="timeline-content-info">
                    <span class="timeline-content-info-title">
                      <i class="fa fa-certificate" aria-hidden="true"></i>
                      Senior Data Scientist
                    </span>
                    <span class="timeline-content-info-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        November 2020 - July 2021
                      </span>
                    </div>
                
                <p>Achieved $2MM savings (10%) in marketing costs by optimizing new title releases through data analysis and modeling using Spark, SQL, Stats models, and Python.

                    Enhanced click-through rates by 20% with a production-ready Lookalike model, powered by DBSCAN and XGBoost on Data bricks and AWS, benefiting Disney's marketing prioritization.
                    
                    Led a team of three to streamline marketing pipelines with Spark, SQL, and Tableau, reducing turnaround time by 30%. </p>
                <span class="cd-date">Nov 2020</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block" data-aos="zoom-in" data-aos-delay="200">
              <div class="cd-timeline-img cd-picture">
              </div> <!-- cd-timeline-img -->
        
              <div class="cd-timeline-content">
                <h2>Tata Capital</h2>
                <div class="timeline-content-info">
                    <span class="timeline-content-info-title">
                      <i class="fa fa-certificate" aria-hidden="true"></i>
                      Data Sciene Assistant Manager
                    </span>
                    <span class="timeline-content-info-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        June 2020 - November 2020
                      </span>
                    </div>
                
                <p>
                    Improved credit assessment performance by 3x (F1 score ~67%) through image detail extraction from government-issued ID cards using YOLOv3, OCR, and NER techniques. Integrated Logistic Regression for debt risk prediction with propensity modeling, Population Stability Index, and characteristic analysis. Led a team of 2 in ETL pipeline and visualization development using SQL, Pandas, Python, SAS, and Tableau. </p>
                <span class="cd-date">Jun 2020</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        
            <div class="cd-timeline-block">
              <div class="cd-timeline-img cd-location">
              </div> <!-- cd-timeline-img -->
        
              <div class="cd-timeline-content" data-aos="zoom-in" data-aos-delay="250">
                <h2>Infosys</h2>
                <div class="timeline-content-info">
                    <span class="timeline-content-info-title">
                      <i class="fa fa-certificate" aria-hidden="true"></i>
                      Senior Associate Analyst
                    </span>
                    <span class="timeline-content-info-date">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i>
                        November 2017 - June 2020
                      </span>
                    </div>
                
                <p>
                    Aided Altice USA in achieving a 15% increase in customer retention using deep neural networks after in-depth research with TensorFlow and Python on Google Cloud Platform.

Improved contract details extraction for Sony BMG by 4x through Named Entity Recognition (NER).

Delivered machine learning solutions with Django in an Agile setup, resulting in 2 multi-million-dollar client acquisitions.





</p>
                <span class="cd-date">Nov 2017</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        

          </section> <!-- cd-timeline -->
        </article>       
    </section>



    <div class="work">
        <div class="container" id="work">
            <div class="title2">
                <h1>MY SELF LEARNING PROJECTS</h1>
            </div>
            <div class="small-container">
                <div class="row3">
                    {% for sys in skills %}
                    <div class="card initial-6  w- aos-init" data-aos="zoom-in" data-aos-delay="100">

                        <img src="{{sys.image}}" alt="">


                        <div class="card-body col-5-info px-3 py-3">
                            <h3 class="pb-1">{{sys.title}}</h3>
                            <p class="pb-1">{{sys.skill}}</p>
                            <button><a href="{{sys.link}}">VISIT</a></button>

                        </div>

                    </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>



    <footer id="contact">
        <div class="container">
            <div class="title5">
                <h1>CONTACT ME</h1>
            </div>
            <div class="small-container">
                <div class="row4">
                                         {% for infor in info %}
   
                    <div class="col-md-6 initial-8 aos-init" data-aos="fade-down-right" data-aos-delay="100">
                        <p id="helo">Wanna talk about a project or just saying hi <img src="{%  static 'images/e.png' %}" alt="" id="e" class="wave"></p>

                        <div class="contact-info">
                            <div class="c-ico">
                    <i class="fa fa-comments"></i> <span id="io">Say Hello</span></i>

                            </div>
                            <p>Email: <span>{{infor.email}}</span></p>
                            <p>Phone: <span>{{infor.phone}}</span></p>
                        </div>
                        <div class="contact-info">
                            <div class="c-ico">
                                <i class="fa fa-map-marker"></i><span id="io">Find me in</span>
                            </div>
                            <p><span>{{infor.address}}</span></p>

                        </div>
                        <div class="contact-info obojo">
                            <div class="c-ico">
                                <i class="fa fa-share-square-o"> <span id="io">Social networks</span> </i>
                            </div>
                            <h4>

                                <a href="{{infor.github}}"><i class="fa fa-github"></i>
                                </a>
                                <a href="{{infor.linkedin}}"><i class="fa-brands fa-linkedin" style="background: #4974c5"></i></a>

                            </h4>

                        </div>
                    </div>
                    <div class=" col-md-6 initial-7 aos-init " data-aos="zoom-in " data-aos-delay="700 ">
                        <img src="{% static 'images/19.svg' %} " alt=" ">
                    </div>
{% endfor %}
                </div>
                <div class="footing ">
                    <div class="row justify-content-center ">
                        <div class="col-md-4 ">
                            <p>Designed By </p>
                            <p>Prakhar Gupta</p>
                            <p>Machine Learning Engineer and Data Scientist</p>
                            <p id="copy ">© COPYRIGHTS RESERVED. ALL RIGHTS RESERVED.
                        </div>
                    </div>
                    </p>
                </div>
            </div>
        </div>
        <div class="up-arrow ">
            <div class="arrow ">
                <a href="# "><i class="fa fa-angle-up "></i>
            </a>
            </div>
        </div>

    </footer>

    <div id="preloader"></div>

    <script src="{% static 'jquery/jquery.min.js' %}"></script>

    <!-- <script src="{% static 'isotope-layout/isotope.pkgd.min.js' %}'"></script> -->
    <!-- <script src="{% static 'aos/aos.js' %}"></script> -->
      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'jquery.easing/jquery.easing.min.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>
